<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="onmuhasebe.Properties.Settings.onmuhasebedataConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\onmuhasebedata.accdb" providerName="System.Data.OleDb"/>
        <add name="onmuhasebe.Properties.Settings.isletmedefteriortakhesaplarConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\isletmedefteriortakhesaplar.accdb" providerName="System.Data.OleDb"/>
        <add name="onmuhasebe.Properties.Settings.onmuhasebedigerConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\onmuhasebediger.accdb" providerName="System.Data.OleDb"/>
        <add name="onmuhasebe.Properties.Settings.onumuhasebefirmadataConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\onumuhasebefirmadata.accdb" providerName="System.Data.OleDb"/>
        <add name="onmuhasebe.Properties.Settings.onmuhasebealissatisConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\onmuhasebealissatis.accdb" providerName="System.Data.OleDb"/>
        <add name="onmuhasebe.Properties.Settings.onmuhasebesmartdataConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\onmuhasebesmartdata.accdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
